.product-create {
    width: 100%;
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
}

.product-create h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.product-create form {
    display: flex;
    flex-direction: column;
}

.product-create label {
    margin-bottom: 8px;
    color: #444;
    font-weight: bold;
}

.product-create input[type="text"],
.product-create input[type="number"],
.product-create select,
.product-create textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.product-create textarea {
    height: 150px;
}

.product-create .addProductButton {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

.addVariantButton {
    background-color: #28a745;
    margin-bottom: 10px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.addVariantButton:hover {
    background-color: #218838;
}

.variant {
    border: 1px solid #dee2e6;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;

}

.variant label {
    display: block;
    margin: 15px;
}

.variant input, .variant select {
    margin-top: 5px;
    color: black;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.removeVariantButton {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 0 15px 10px;
}

.removeVariantButton:hover {
    background-color: #bd2130;
}
